{% extends 'docs_layout.twig' %}
{% block content %}
<div class="well">
  <h3>Modules</h3>
  <p>
    At present modules are fairly loose mechanism for grouping Controllers and the routes that they require to be used within a Proem application into a self contained directory stucture.
  </p>
  <p>
    Eventually, this mechanism will be extended so that <em>Modules</em> will almost be considered stand alone applications that are able to be distributed and reused.
  </p>
  <p>
    Modules are simply a collection of Controllers and a simple <em>Module Loader</em> class which is used to attach the Routes required for these controllers to be used. This <em>Module Controller</em>
    can also be used to load <a href="/docs/dev/plugins.html">Plugins</a>, Views and any other code the module might depend upon.
  </p>
  <p>
    The easiest way to describe there functionality is probably to build a simple module. So, building on the application within the {{ docLink('quickstart') }}
    that is exactly what I intend to do here. In actual fact, within the {{ docLink('quickstart') }} we have already built a simple <em>Index</em> module. The
    <em>Module</em> we will build here however will also show us how we can start to move the code required to <em>Bootstrap</em> a <em>Module</em> out of our main <em>bootstrap</em> index.php
    file and into somewhere more self contained.
  </p>
</div>
<div class="well">
  <h3>The directory structure</h3>
  <p>
    Firstly, we need a directory structure within which we will place our <em>Module</em>. Go to the root of the <em>myproject</em> application and create the following directories:
  </p>
  <code>mkdir -p Module/Foo/Controller</code>
</div>
<div class="well">
  <h3>The Module Loader</h3>
  <p>
    Within <em>Module/Foo</em> we now need to create our actual <em>Module</em> class:
  <p>
  <pre class="prettyprint">
    namespace Module\Foo;

    class Foo extends \Proem\Ext\Module\Generic
    {
        public function init(\Proem\Service\Manager\Template $assets, $environment = null)
        {
            $assets->get('events')->attach('proem.post.in.router', function($event) {
                $event->getServiceManager()->get('router')->attach(
                    'foo-route', new \Proem\Routing\Route\Standard([
                        'rule'      => '/foo',
                        'targets'   => ['module' => 'foo', 'controller' => 'index', 'action' => 'index']
                    ])
                );
            });
        }
    }
  </pre>
  <p>
    If you have been reading the docs in the order present it is hopefully quite easy to see that all this code is doing is adding a {{ docLink('route', 'Route') }} to the router. For
    this simple <em>Module</em> we only need this single route, however, in real life <em>Modules</em> would be far more complex.
  </p>
  <p>
    All <em>Module Loaders</em> must extend the generic <em>\Proem\Ext\modile\Generic</em> module loader abstract class and therefore must implement the <em>init()</em> method. The <em>$enviroment</em> variable is
    as yet not used, however it will be used in future version to allow switching from say <em>dev</em> to <em>production</em> handling.
  </p>
  <div class="alert alert-info">
    <p>
      It is important to note here that we are using the {{ docLink('services-component', 'Service Manager') }} that is passed in to our listener even though we already seem to have access to it
      via the <em>$assets</em> variable. This is because getting it from the listener like we are means it has already travelled it's way through most of the <em>Bootstrap</em> process. Using <em>$assets</em> here
      would be of little use as the actual {{ docLink('services-component', 'assets') }} we need would not exist yet.
    </p>
    <p>
      For this reason, I often prefer to separate the <em>callback</em> into another method so as to resist temptation. I think it makes the code more readable too.
    </p>
    <pre class="prettyprint">
      namespace Module\Foo;

      class Foo extends \Proem\Ext\Module\Generic
      {
          public function init(\Proem\Service\Manager\Template $assets, $environment = null)
          {
              $assets->get('events')->attach('proem.post.in.router', [$this, 'attachRoutes']);
          }

          public function attachRoutes($event) {
              $event->getServiceManager()->get('router')->attach(
                  'foo-route', new \Proem\Routing\Route\Standard([
                      'rule'      => '/foo',
                      'targets'   => ['module' => 'foo', 'controller' => 'index', 'action' => 'index']
                  ])
              );
          }
      }
    </pre>
  </div>
</div>
<div class="well">
  <h3>Controllers</h3>
  <p>
    Just like the <em>Index</em> controller created within the {{ docLink('quickstart') }} our <em>Module</em> needs a controller. Place the following file within <em>Module/Foo/Controller/Index.php</em>:
  </p>
  <pre class="prettyprint">
    namespace Module\Foo\Controller;

    class Index extends \Proem\Controller\Standard
    {
        public function indexAction()
        {
            $this->assets->get('response')->appendToBody('Hello from Foo!');
        }
    }
  </pre>
</div>
<div class="well">
  <h3>Loading Our Module</h3>
  <p>
    All that is left now is to load our <em>Module</em>. Edit the <em>htdocs/index.php</em> file so that it looks lie the following:
  </p>
  <pre class="prettyprint">
    require_once '/Users/thorpe/www/lib/proem/framework/lib/Proem/Autoloader.php';

    (new Proem\Autoloader())
        ->attachNamespace('Module', '../lib')
        ->register();

    (new Proem\Proem)
        ->attachModule(new Module\Foo\Foo)
        ->attachEventListener('proem.post.in.router', function($event) {
            $event->getServiceManager()->get('router')->attach(
                'hello-route', new \Proem\Routing\Route\Standard([
                    'rule'      => '/hello/:name/:params',
                    'targets'   => ['module' => 'index', 'controller' => 'index', 'action' => 'hello']
                ])
            );
        }
    )->init();
  </pre>
  <p>
    Note the call to <em>attachModule</em>? This simple method loads our <em>Module</em> by calling it's <em>init()</em> method.
  </p>
  <p>
    By default modules are loaded when the <em>proem.init</em> event is triggered. You can however
    load a <em>Module</em> latter in the <em>bootstrap</em> process by passing the name of the event as the second argument to <em>attachModule</em>. You can also priorities <em>Modules</em> using the third argument.
  </p>
  <p>
    <em>attachModule</em> proxies through to a protected method on the <em>Proem</em> object which has a definition that looks like:
  </p>
  <pre class="prettyprint">
    protected function attachExtension(Extension $extension, $event = 'proem.init', $priority = 0)
  </pre>
  <p>
  You can see from this definition that <em>Modules</em> are really <em>Extensions</em>. {{ docLink('plugins') }} are the other type of extension which is the next topic within the docs.
  </p>
  <p>
    Start your server now and head to <a href="http://127.0.0.1:8080/foo">http://127.0.0.1:8080/foo</a> to see <em>Hello from Foo!</em>.
  </p>
</div>
<div class="well">
  <h3>Summary</h3>
  <p>
    Hopefully this brief guide has at least described the potential of <em>Modules</em>. With these under your belt it's easy to see how we can remove a lot of setup from our <em>bootstrap</em> index.php
    file and into it's own <em>Module</em> which, with a little bit of work, should be pretty easy to then re use.
  </p>
</div>
{{ disqus('/docs/dev/modules') }}
{% endblock %}
