{% extends "docs_layout.twig" %}
{% block content %}
<div class="well">
  <h3>The QuickStart Guide</h3>
  <p>
    This document is here to quickly guide you through building a <strong>very</strong> simple "Hello World!" type application using the Proem framework. It does not go into any great detail
    about how or why things are being done the way they are, that is indeed what the rest of Proem's documentation is designed to do. I will however link to relevant documentation pages if you
    wish to look into further confiuration.
  </p>
  <p>
    The aim here is simply to get an example up and running, so that you can see the basics of how things work, and as you read further documentation you can play with things.
  </p>
  <div class="alert alert-info">
    It is highly recommended to follow along with this section of the docs. We build a simple app here that is later built upon within the {{ docLink('modules') }} and
    {{ docLink('plugins') }} sections.
  </div>
</div>
<div class="well">
  <h3>Install Proem</h3>
  <p>
    A complete guide to the installation process can be found {{ docLink('installation', 'here') }}. In this guide, we are going to choose a simple route, and install using
    <a href="http://getcomposer.org">composer</a>.
  <p>
  <p>
    First things first, make a directory to put the application in and change into it:
  </p>
  <code>
    mkdir myproject && cd myproject
  </code>
  <p>
    If you don't already have composer installed, install it now:
  </p>
  <code>
    curl -s https://getcomposer.org/installer | php
  </code>
  <p>
    Create a <em>composer.json</em> file with the following content:
  </P>
  <pre class="prettyprint">
    {
      require: {
        "proem/proem": "0.7.0"
      }
    }
  </pre>
  <p>
    Now, install using composer: <code>composer.phar install</code>
  </p>
</div>
<div class="well">
  <h3>Basic Directory Structure</h3>
  <p>
    There is no forced directory structure in Proem as even your controller namespaces can be {{ docLink('dispatch', 'configured', 'mapping-controllers') }}. In this example however, we are
    going to stick to the defaults. Let's create the directory structure to support this.
  </p>
  <code>
    mkdir -p lib/Module/Index/Controller
  </code>
  <p>
    Now, let's create a directory to use as our public document root.
  </p>
  <code>mkdir htdocs</code>
</div>
<div class="well">
  <h3>Creating a Module & Controller</h3>
  <p>
    Next, we are going to create an Index Controller within the Index module. Create the file <code>lib/Module/Index/Controller/Index.php</code> and place the following code within it:
  </p>
  <pre class="prettyprint">
    &lt;?php

    namespace Module\Index\Controller;

    class Index extends \Proem\Controller\Standard
    {
        public function indexAction()
        {
            $this->assets->get('response')->appendToBody('Hello World!');
        }
    }
  </pre>
</div>
<div class="well">
  <h3>Creating our Bootstrap</h3>
  <p>
    Next, we are going to create our bootstrap file. This file has all requests routed to it by the server and instantiates the framework. Create the file <code>htdocs/index.php</code> and
    place the following code within it:
  </p>
  <pre class="prettyprint">
    &lt;?php

    require_once '../vendor/proem/proem/lib/Proem/Util/Autoloader.php';

    (new Proem\Util\Autoloader())
        ->attachNamespace('Module', '../lib')
        ->register();

    (new Proem\Proem)->init();
  </pre>
</div>
<div class="well">
  <h3>Start PHP's server and view</h3>
  <p>
    One handy little piece of functionality that comes baked into PHP5.4 is the new deveopment server. Let's use it to see our "Hello World!" page.
  </p>
  <code>
    cd htdocs && php -S 127.0.0.1:8080 index.php
  </code>
  <p>
    Now, if you open your browser and go to <a target="_blank" href="http://127.0.0.1:8080">http://127.0.0.1:8080</a> you should see:
  </p>
  <pre>
    Hello World!
  </pre>
</div>
<div class="well">
  <h3>Adding more actions</h3>
  <p>
    Just to demonstrate what actions do, lets add some more methods to our Index controller:
  </p>
  <pre class="prettyprint">
    public function fooAction()
    {
        $this->assets->get('response')->appendToBody('Hello from fooAction');
    }

    public function helloAction()
    {
        $this->assets->get('response')
            ->appendToBody('Hello ' . $this->assets->get('request')->payload->name);
    }
  </pre>
  <p>
    Now, viewing <a target="_blank" href="http://127.0.0.1:8080/foo">http://127.0.0.1:8080/foo</a> will result in seeing:
  </p>
  <pre>
    Hello from fooAction
  </pre>
  <p>
    But what's this? viewing <a target="_blank" href="http://127.0.0.1:8080/hello">http://127.0.0.1:8080/hello</a> produces:
  </p>
  <pre>
    Hello
  </pre>
  <p>
    There is no name parameter because we haven't passed the page anything, try <a target="_blank" href="http://127.0.0.1:8080/hello/trq">http://127.0.0.1:8080/hello/trq</a>. Now we get:
  </p>
  <pre>
    404 - Page Not Found
  </pre>
  <p>
    What's going on here?
  </p>
  <p>
    Simply put, we have confused the default routes. For this action to work, we need to add a custom route to the router.
  </p>
</div>
<div class="well">
  <h3>Adding a Route</h3>
  <p>
    Open your bootstrap file which is <em>htdocs/index.php</em>, we need to attach a listener on the <em>proem.post.in.router</em> event. Do so by making the file look as below:
  </p>
  <pre class="prettyprint">
    &lt;?php

    require_once '../proem/lib/Proem/Autoloader.php';

    (new Proem\Autoloader())
        ->attachNamespace('Module', '../lib')
        ->register();

    (new Proem\Proem)->attachEventListener('proem.post.in.router', function($event) {
        $event->getServiceManager()->get('router')->attach(
            'hello-route', new \Proem\Routing\Route\Standard([
                'rule'      => '/hello/:name',
                'targets'   => ['module' => 'index', 'controller' => 'index', 'action' => 'hello']
            ])
        );
    })->init();
  </pre>
  <p>
    That's it. Now going to <a target="_blank" href="http://127.0.0.1:8080/hello/trq">http://127.0.0.1:8080/hello/trq</a> produces:
  </p>
  <pre>
    Hello trq
  </pre>
</div>
<div class="well">
  <p>
    That concludes the QuickStart guide for now. For more reading take a look at {{ docLink('bootstrap') }} and then read on for more detail about
    individual components.
  </p>
</div>
{{ disqus('/docs/dev/quickstart') }}
{% endblock %}
